body{
    font-family: Arial, Helvetica, sans-serif;
}

.vermelho{
    color: red;
}
#primeiroTitulo{
    text-align: center;
}
.romano{
    list-style-type: lower-roman;
}
.centro{
    text-align: center;
}