.topoCor01{
    background-color: red;
}
.topoCor02{
    background-color: yellow;
}
.topoA{
    height: 150px;
}

.contCor{
    background-color: blueviolet;
}
.itemCont{
    height: 474px;
    background-color: burlywood;
}
.produto{
    height: 242px;
    background-color: darkseagreen;
}
.item{
    background-color: brown;
}